extends index
block head
    title= '项目采购信息'
block sidebar
    include sidebar1
block title1
    h2(align='center' style='color:#ffffff')
        | 设备信息详情
block content
    hr
    table.table
        thead
            tr
                th
                    | 资产名称
                th
                    | 规格型号
                th
                    | 数量
                th
                    | 资产条形码
                th
                    | 资产序列号
                th
                    | 生产厂家
                th
                    | 单价
                th
                    | 备注
        tbody
            each equip in equips
                tr(class='#{equip.class}')
                    td(style='display:none') #{equip.id}
                    td #{equip.asset_name}
                    td #{equip.asset_type}
                    td #{equip.asset_amount}
                    td #{equip.asset_txm}
                    td #{equip.sccj}
                    td #{equip.price}
                    td #{equip.remark}
                    td
                        button.btn.btn-sm.change(style='background:#576f95;color:#ffffff' data-toggle='modal' data-target='#modal3')
                            | 修改/删除

        script(type='text/javascript').
