extends index
block head
    title= '采购信息-预审单'
block sidebar
    include sidebar1
block title1
    h2(align='center' style='color:#ffffff')
        | 设备采购信息导入
block content
    h3(align='center')
        | 步骤3-导入预审单
    .col-md-6.col-md-offset-3(style='width:60%')
        .progress.progress-striped.active(style='color:#576f95')
            .progress-bar(role='progressbar',  aria-valuemin='0', aria-valuemax='100', style='width: 40%;')
    br
    hr
    form.form-horizontal(role='form')
        .form-group
            label.col-sm-2.col-sm-offset-2.control-label(style='color:#576f95')
                | 项目名称：
            .col-sm-6
                input.form-control(type='text' placeholder='#{title[0].project}' readonly)

        .form-group
            label.col-sm-2.col-sm-offset-2.control-label(style='color:#576f95')
                | 项目预算：
            .col-sm-6
                input.form-control.i31(type='text')
        .form-group
            label.col-sm-2.col-sm-offset-2.control-label(style='color:#576f95')
                | 提交日期：
            .col-sm-6
                input.form-control.input-datetime.i32(type='text' placeholder='点击来选择日期' readonly)
        .form-group(align='center')
            h4(align='center')
                | 添加标段
            table.table(style='width:60%')
                thead
                    tr
                        th
                            | 标段名称
                        th
                            | 标段金额
                tbody
                    tr
                        td
                            input.form-control.i33
                        td
                            input.form-control.i34
        .for(align='center')
            .btn.a1(style='width:31%;background:#576f95;color:#ffffff')
                | 添加
            h4(align='center')
                | 已添加的标段
        .form-group(align='center')
            table.table.tb.c1.table-stripe(style='width:60%' align='center')
                thead
                    tr
                        th
                            | 标段
                        th
                            | 金额
                        th
                            | 操作
                tbody
                    each project in projects
                        tr(class='#{project.class}')
                            td.delete_id(style='display:none') #{project.bid}
                            td #{project.bname}
                            td #{project.bmoney}
                            td
                                button.btn.btn-sm.delete.btn-danger
                                    | 删除此标段
        .form-group(align='center')
            button.btn.btn-block#c1(style='width:31%;background:#576f95;color:#ffffff')
                | 保存
        .form-group(align='center')
            button.btn.btn-block(style='width:30%;background:#576f95;color:#ffffff')
                | 上传预审单
        hr
    .form-group(align='center')
        button.btn.btn-block#b1(style='width:31%;background:#576f95;color:#ffffff')
            | 下一步
        script(type='text/javascript').
            $(document).ready(function () {
                $('#b1').click(function () {
                    window.location.href = "input4";
                });
                $('.a1').click(function () {
                    if($('.i31').val() !== '' && $('.i32').val() !== '' && $('.i33').val() !== '' && $('.i34').val() !== ''){
                        $.ajax({
                            url: '/input3/input3post1',
                            data: {
                                aid: #{title[0].aid},
                                money: $('.i31').val(),
                                ysd_date: $('.i32').val(),
                                bname: $('.i33').val(),
                                bmoney: $('.i34').val()
                            },
                            type: 'POST',
                            timeout: 36000,
                            dataType: 'text',
                            success: function (data, textStatus) {
                                var dataJson = eval("(" + data + ")");
                                console.log(dataJson);
                                if (dataJson.code == 200) {
                                    alert('数据已成功写入到数据库!')
                                }
                                else {
                                    alert('数据写入失败，请重新填写信息！')
                                }
                            }
                        })
                    }
                    else {alert('请输入完整的项目以及标段信息！')}
                window.location.href = 'input3';
                });
                $('.delete').click(function () {
                    var id1 = $(this).parents('tr').children('td').html();
                    if (confirm('确认要删除这个标段吗？')) {
                        $(this).parents('tr').remove();
                        $.ajax({
                            url: '/input3/delete',
                            data: {
                                id1: id1
                            },
                            type: 'POST',
                            timeout: 36000,
                            dataType: 'text',
                            success: function (data, textStatus) {
                                var dataJson = eval("(" + data + ")");
                                console.log(dataJson);
                                if (dataJson.code == 200) {
                                    alert('成功删除此标段!')
                                }
                                else {
                                    alert('标段删除失败！')
                                }
                            }

                        })
                        window.location.href = 'input3';
                    }
                });

            })