extends index
block head
    title= '用户信息'
block sidebar
    include sidebar1
block title1
    h2(align='center' style='color:#ffffff')
        | 用户信息详情
block content
    table#tb.table-stripe.table
        thead
            tr
                th(style='display:none')
                    | ID
                th
                    | 权限
                th
                    | 账号
                th
                    | 密码
                th
                    | 修改/删除
        tbody
            each person in persons
                tr(class='#{person.class}')
                    td(style='display:none') #{person.id}
                    td #{person.lv}
                    td #{person.username}
                    td #{person.userpwd}
                    td
                        button.btn.btn-sm.change(style='background:#576f95;color:#ffffff' data-toggle='modal' data-target='#modal3')
                            | 修改/删除



        script(type='text/javascript').
            $(document).ready(function () {
                $('.change').click(function () {
                    var id = $(this).parents('tr').children('td').html();
                    var lv = $(this).parents('tr').children('td').next().html();
                    var username = $(this).parents('tr').children('td').next().next().html();
                    var userpwd = $(this).parents('tr').children('td').next().next().next().html();
                    $('#change1').val(lv);
                    $('#change2').val(username);
                    $('#change3').val(userpwd);
                    $('.change').val(id);


                })
            })
